// colors
$color-background: #f6f7f8;
$color-primary: #1f2a4b;
$color-grey-1: #9ea3b2;
$color-grey-2: #a1a4ad;
$color-white: #fff;

// animations
$transition-timing: 0.25s ease-in-out;

// layout
$layout-padding: 10px;
$border-radius-1: 5px;

// misc
$shadow-1: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
