// colors
$color-background: #f6f7f8;
$color-primary: #1f2a4b;
$color-grey-1: #9ea3b2;
$color-grey-2: #a1a4ad;
$color-grey-3: #e1e1e1;
$color-white: #fff;
$color-dark-sky: #4a77e5;
$color-error: red;
$color-dark-blue-grey: rgba(31, 42, 75, 0.59);

// animations
$transition-timing: 0.25s ease-in-out;

// layout
$layout-padding: 10px;
$border-radius-1: 5px;
$border-radius-2: 4px;

// misc
$shadow-1: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
