.Button {
	padding: 8px 16px;
	border: none;
	border-radius: $border-radius-2;
	font-size: 14px;
	transition: background-color $transition-timing, color $transition-timing;

	&:hover {
		cursor: pointer;
	}

	&.transparent {
		background: transparent;
		color: $color-primary;

		&:hover {
			background-color: $color-primary;
			color: $color-white;
		}
	}

	&.filled {
		background: $color-dark-sky;

		&:hover {
			background-color: $color-primary;
		}
	}
}
