.TodosPage {
	height: 100%;
	display: grid;
	place-items: center;

	.card {
		display: flex;
		flex-direction: column;
		gap: 25px;

		.titleContainer {
			display: flex;
			flex-direction: column;
			gap: 6px;

			> * {
				margin: 0;
			}

			.title {
				font-size: 22px;
			}
		}
		.form {
			display: flex;
			flex-direction: column;
			gap: 20px;
			margin-bottom: 7px;
			min-width: 330px;

			.error {
				color: $color-error;
				margin: 0;
			}
		}
	}
}
